{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h1 class="page-title">{{board.name}}</h1>
    <div>
        <a class="add-link" href="/{{session['username']}}/board/{{board.id}}/create-list">&nbsp<i
                class="fas fa-plus"></i></a>
    </div>
</div>

{% if keys|length == 0 %}
<div>
    <p>Add a list first</p>
</div>
{% else %}
<div class="box">
    {% for k in keys %}
    <div class="list-card">
        <h5 id="edit-list" class="list-title"><a href="/{{session['username']}}/board/{{board.id}}/list/{{dic[k].id}}/edit">{{dic[k].name}}</a></h5>
        {% for card in dic[k].cards %}
        <div class="card-name">
            <h5><a href="/{{session['username']}}/board/{{board.id}}/list/{{dic[k].id}}/card/{{card.id}}/edit">{{card.name}}</a></h5>
            <h5>{{card.description}}</h5>
            <h5>{{card.deadline}}</h5>
            <a href="/{{session['username']}}/board/{{board.id}}/list/{{dic[k].id}}/card/{{card.id}}/move">move card</a>
        </div>
        {% endfor %}
    <div class="card-link">
        <a class="add-card" href="/{{session['username']}}/board/{{board.id}}/list/{{dic[k].id}}/create-card"><span>Add a
                card</span></a>
            </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="backtoDashboard">
    <a class="dashboard2" href="/{{session['username']}}/board"><i class="fas fa-arrow-left"></i> dashboard</a>
</div>
{% endblock %}